<?xml version="1.0" encoding="UTF-8" standalone="no"?><TCC>

<original>
	<path name="TSI" type="file">G:\Musik\Native Instruments\Traktor 2.11.0\Traktor Settings.tsi</path>
	<path name="NML" type="file">G:\Musik\Native Instruments\Traktor 2.11.0\collection.nml</path>
	<path name="root" type="directory">G:\Musik\Native Instruments\Traktor\Samples\</path>
	<collection name="music" type="directory"><path id="1">G:\bMusik\bExtra Songs for DJ Collection\b</path><path id="2">G:\bMusik\bDownload\bFür Collection\b</path><path id="3">Z:\bAmazon MP3\b</path><path id="4">Z:\bBeatport\b</path><path id="5">Z:\bCD Konvertiert\b</path><path id="6">Z:\bDJTunes\b</path><path id="7">Z:\bDJUweF MP3\b</path><path id="8">Z:\bSonstige Downloads\b</path><path id="9">G:\bMusik\bExtra Songs for DJ Collection\bDaniel (Stick)\b</path></collection>
	<path name="recordings" type="directory">G:\Musik\Native Instruments\Traktor\Samples\</path>
	<path name="itunes" type="directory">G:\Musik\Native Instruments\Traktor\Samples\</path>
	<path name="remixsets" type="directory">G:\Musik\Native Instruments\Traktor\Samples\</path>
	<path name="loops" type="directory">G:\Musik\Native Instruments\Traktor\Samples\</path>
</original>

<target>
	<path name="TSI" type="file">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie\Traktor Settings.tsi</path>
	<path name="NML" type="file">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie/collection.nml</path>
	<path name="root" type="directory">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie</path>
	<collection name="music" type="directory"><path id="1">C:\Users\fischere\Documents\Meine Shapes</path><path id="2">C:\Users\fischere\Documents\Arma 3 - Reports</path><path id="3">C:\Users\fischere\Documents\Native Instruments</path><path id="4">C:\Users\fischere\Documents\rekordbox</path><path id="5">C:\Users\fischere\Documents\MuseScore2</path><path id="6">C:\Users\fischere\Documents\Arma  - Mods</path><path id="7">C:\Users\fischere\Documents\Meine Shapes</path><path id="8">C:\Users\fischere\Documents\rekordbox</path><path id="9">C:\Users\fischere\Documents\MAGIX</path></collection>
	<path name="recordings" type="directory">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie\Recordings</path>
	<path name="itunes" type="directory">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie\itunes\iTunes Music Library.xml</path>
	<path name="remixsets" type="directory">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie\Remix Sets</path>
	<path name="loops" type="directory">G:\Musik\Native Instruments\Traktor 2.11.0 - Kopie\Loops</path>
</target>

</TCC>